---
import Layout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const publishedPosts = allPosts
  .filter((post) => !post.data.draft)
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
  );
---

<Layout>
  <div class="flex items-center pb-5">
    <h1>blog</h1>
    <a href="/feed.xml" class="no-underline">
      <img
        class="ms-5 w-[32px] h-[32px] rounded-sm"
        alt="RSS feed"
        src="/rss.svg"
      />
    </a>
  </div>
  <ul>
    {
      publishedPosts.map((post) => (
        <li>
          <div class="flex align-middle">
            <img
              class="w-10 h-10"
              src={`${post.data.image.url}`}
              alt={post.data.title}
            />
            <h2 class="content-center ms-5">{post.data.title}</h2>
          </div>
          <small>
            {new Date(post.data.pubDate).toLocaleString("en-NZ", {
              year: "numeric",
              month: "long",
              day: "numeric",
              hour: "2-digit",
              minute: "2-digit",
              second: "2-digit",
              hour12: true,
              timeZone: "Pacific/Auckland",
            })}
            NZST
          </small>
          <p>
            {post.data.description}
            {" | "}
            <a class="align-bottom" href={`/blog/${post.id}`}>
              read more &gt;
            </a>
          </p>
        </li>
      ))
    }
  </ul>
</Layout>
<style>
  * {
    font-family: "Inconsolata";
  }

  h1 {
    padding: 0;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0;
  }

  a {
    color: blue;
  }

  a.no-underline::after {
    content: none;
  }

  ul li:not(:last-child) {
    margin-bottom: 2rem;
  }

  small {
    font-size: 0.8rem;
    font-style: oblique;
  }
</style>
